.loginForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 280px;
}

.inputsWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 90%;
	margin-top: 10px;
}

.input {
	width: 100%;
}

.loginBtn {
	margin: 0 auto;
}
