.loginForm {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 34px;
	align-items: center;
	width: 364px;
}

.error {
	position: absolute;
	transform: translateY(180%);
}

.inputsWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 90%;
	margin-top: 10px;
}

.input {
	width: 100%;
}

.loginBtn {
	margin: 0 auto;
}
