.title {
	font: var(--font-l);
	color: var(--primary-color);
}

.text {
	font: var(--font-m);
	color: var(--secondary-color);
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.error {
	.title {
		color: var(--red-dark);
	}

	.text {
		color: var(--red-light);
	}
}
