.button {
	padding: 8px 12px;
	color: var(--primary-color);
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

.clear,
.clear_inverted {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.clear_inverted {
	color: var(--inverted-primary-color);
}

.outline {
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

.outline_secondary {
	color: var(--secondary-color);
	background-color: transparent;
	border: 1px solid var(--secondary-color);
	opacity: 1;
}

.outline_red {
	color: var(--red-light);
	background-color: transparent;
	border: 1px solid var(--red-dark);
}

.background {
	color: var(--primary-color);
	background-color: var(--bg-color);
	border: none;
}

.background_inverted {
	color: var(--inverted-primary-color);
	background-color: var(--secondary-bg-color);
	border: none;
}

.outline,
.outline_secondary,
.outline_red,
.background,
.background_inverted {
	&.size_s {
		padding: 4px;
		font: var(--font-m);
		border-radius: calc(var(--font-line-m) / 3);
	}
	
	&.size_m {
		padding: 6px 10px;
		font: var(--font-m);
		border-radius: calc(var(--font-line-m) / 4);
	}
	
	&.size_l {
		padding: 8px 12px;
		font: var(--font-m);
		border-radius: calc(var(--font-line-m) / 4);
	}
	
	&.size_xl {
		padding: 12px 18px;
		font: var(--font-m);
		border-radius: calc(var(--font-line-l) / 4);
	}
	
	&.size_xxl {
		padding: 12px 18px;
		font: var(--font-l);
		border-radius: calc(var(--font-line-xl) / 4);
	}
}

.max {
	width: 100%;
}

.max_width {
	width: 100%;
	padding: 0;
	font-size: var(--font-size-l);
	border: none;
	border-radius: 0;
}

.square {
	padding: 0;
	border-radius: calc(var(--font-line-m) / 6);

	&.size_s {
		width: var(--font-line-s);
		height: var(--font-line-s);
		font-size: var(--font-size-s);
	}

	&.size_m {
		width: var(--font-line-m);
		height: var(--font-line-m);
		font-size: var(--font-size-m);
	}

	&.size_l {
		width: var(--font-line-l);
		height: var(--font-line-l);
		font-size: var(--font-size-l);
		border-radius: calc(var(--font-line-l) / 6);
	}

	&.size_xl {
		width: var(--font-line-xl);
		height: var(--font-line-xl);
		font-size: var(--font-size-xl);
		border-radius: calc(var(--font-line-xl) / 6);
	}
}

.only_cursor {
	cursor: auto;
}

.with_opacity {
	cursor: auto;
	opacity: 0.5;
}
