.button {
	padding: 8px 12px;
	color: var(--primary-color);
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
}

.clear,
.clearInverted {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.clearInverted {
	color: var(--inverted-primary-color);
}

.outline {
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

.outline_red {
	color: var(--red-light);
	background-color: transparent;
	border: 1px solid var(--red-dark);
}

.background {
	color: var(--primary-color);
	background-color: var(--bg-color);
	border: none;
}

.backgroundInverted {
	color: var(--inverted-primary-color);
	background-color: var(--inverted-bg-color);
	border: none;
}

.size_s {
	font-size: var(--font-size-s);
	border-radius: calc(var(--font-line-m) / 4);
}

.size_m {
	font-size: var(--font-size-m);
	border-radius: calc(var(--font-line-m) / 4);
}

.size_l {
	font-size: var(--font-size-l);
	border-radius: calc(var(--font-line-l) / 4);
}

.size_xl {
	font-size: var(--font-size-xl);
	border-radius: calc(var(--font-line-xl) / 4);
}

.max_width {
	width: 100%;
	padding: 0;
	font-size: var(--font-size-l);
	border: none;
	border-radius: 0;
}

.square {
	padding: 0;
	border-radius: calc(var(--font-line-m) / 6);
}

.square.size_s {
	width: var(--font-line-s);
	height: var(--font-line-s);
	font-size: var(--font-size-s);
}

.square.size_m {
	width: var(--font-line-m);
	height: var(--font-line-m);
	font-size: var(--font-size-m);
}

.square.size_l {
	width: var(--font-line-l);
	height: var(--font-line-l);
	font-size: var(--font-size-l);
	border-radius: calc(var(--font-line-l) / 6);
}

.square.size_xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font-size: var(--font-size-xl);
	border-radius: calc(var(--font-line-xl) / 6);
}

.disabled {
	cursor: auto;
	opacity: 0.5;
}
