.button {
	padding: 8px 12px;
	color: var(--primary-color);
	cursor: pointer;
}

.clear {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.outline {
	color: var(--primary-color);
	background-color: none;
	border: 1px solid var(--primary-color);
}

.background {
	color: var(--primary-color);
	background-color: var(--bg-color);
	border: none;
}

.backgroundInverted {
	color: var(--inverted-primary-color);
	background-color: var(--inverted-bg-color);
	border: none;
}

.size_m {
	font-size: var(--font-size-m);
}

.size_l {
	font-size: var(--font-size-l);
}

.size_xl {
	font-size: var(--font-size-xl);
}

.max_width {
	width: 100%;
	padding: 0;
	font-size: var(--font-size-l);
}

.square {
	padding: 0;
}

.square.size_m {
	width: var(--font-line-m);
	height: var(--font-line-m);
	font-size: var(--font-size-m);
}

.square.size_l {
	width: var(--font-line-l);
	height: var(--font-line-l);
	font-size: var(--font-size-l);
}

.square.size_xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font-size: var(--font-size-xl);
}
