.sidebar {
	position: relative;

	display: flex;
	flex-shrink: 0;
	align-items: start;
	justify-content: end;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));

	background: var(--inverted-bg-color);

	transition: width 0.3s;
	/* ig transition: transform 0.3s; */
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	/* ig transform: translateX(calc(var(--sidebar-width-collapsed) - var(--sidebar-width))); */
}

.switchers {
	position: absolute;
	right: 20px;
	bottom: 20px;

	display: flex;
	gap: 10px;
	justify-content: center;
}

.button {
	margin: 10px;
}
