.sidebar {
	flex-shrink: 0;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));

	background: var(--inverted-bg-color);

	transition: width 0.3s;
	/* ig transition: transform 0.3s; */
}

.content {
	flex-grow: 1;
	margin-bottom: 20px;
}

.items {
	width: fit-content;
	margin-top: 20px;
	margin-left: calc(var(--sidebar-width) / 3);
	transition: margin 0.3s;
}

.collapseBtn {
	height: 40px;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.items {
		margin-left: 0;
	}

	/* ig transform: translateX(calc(var(--sidebar-width-collapsed) - var(--sidebar-width))); */
}
