.sidebar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: center;

	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));

	background: var(--inverted-bg-color);

	transition: width 0.3s;
	/* ig transition: transform 0.3s; */
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	width: 100%;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 20px 0 0 calc(var(--sidebar-width) / 3);
}

.item {
	display: flex;
	gap: 10px;
	align-items: center;
	max-height: var(--font-line-m);
}

.icon {
	fill: var(--inverted-primary-color);
}

.link {
	opacity: 1;
	transition: opacity 0.6s, transform 0.6s;
}

.switchers {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 10px 0;
}

.collapseBtn {
	height: 40px;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.items {
		align-items: center;
		margin-left: 0;
	}

	.item {
		gap: 0;
	}

	.link {
		width: 0;
		white-space: nowrap;
		opacity: 0;
		transition: opacity 0.4s, transform 1s;
		transform: translateX(-150px);
	}

	.switchers {
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}

	/* ig transform: translateX(calc(var(--sidebar-width-collapsed) - var(--sidebar-width))); */
}
