.views {
	margin-left: auto;
}

.list {
	min-width: 480px;

	.textBlock {
		max-height: 200px;
		overflow: hidden;
	}

	.img {
		width: 100%;
		max-width: 900px;
		max-height: 300px;
		object-fit: cover;
	}
}

.grid {
	width: 230px;
	cursor: pointer;

	.imgWrapper {
		position: relative;
		width: 200px;
		height: 200px;
		overflow: hidden;
	}

	.img {
		width: 200px;
		height: 200px;
		transition: all 0.25s;
	}

	.date {
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		padding: 0 4px;
		background-color: var(--bg-color);
		border-radius: 10px;
		transform: translate(-50%, -50%);
	}

	.types p {
		width: 115px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.title {
		margin-top: 8px;
	}

	.title p {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover {
		.date {
			display: block;
			opacity: 1;
		}

		.img {
			filter: blur(4px);
			opacity: 0.5;
			transform: scale(2);
		}
	}
}

.articleListItemSkeleton.list {
	.img {
		max-width: inherit;
	}
}

.articleListItemSkeleton.grid {
	cursor: not-allowed;

	&:hover {
		opacity: 1;
		transform: none;
	}
}
