.inputWrapper {
	width: 90%;
}

.input {
	width: 100%;
	padding: 4px 6px;
	color: var(--inverted-bg-color);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--inverted-bg-color);

	&:focus {
		outline: none;
	}
}
