.inputWrapper {
	display: flex;
	align-items: center;
}

.label {
	padding: 4px;
	text-align: center;
	border: 1px solid var(--primary-color);
	border-radius: 6px;
}

.input {
	padding: 4px 4px 4px 10px;
	font: var(--font-m);
	color: var(--bg-color);
	background-color: var(--primary-color);
	border: none;
	transition: color 0.15s, background-color 0.15s;

	&::placeholder {
		color: var(--bg-color);
		opacity: 0.5;
	}

	&:focus {
		outline: none;
	}
}

.backgroundInverted {
	color: var(--bg-color);
	background-color: var(--button-bg-inverted);

	&:focus,
	&:hover {
		background-color: var(--button-bg-inverted-auxiliary);
	}
}

.readonly {
	.input {
		color: var(--primary-color);
		background-color: transparent;

		&::placeholder {
			color: var(--auxiliary-primary-color);
			opacity: 0.9;
		}
	}
}

.maxWidth {
	width: 100%;
}

.ratio_50_50 {
	& .label {
		width: 50%;
	}

	& .input {
		width: 50%;
	}
}

.ratio_40_60 {
	& .label {
		width: 40%;
	}

	& .input {
		width: 60%;
	}
}

.ratio_100 {
	& .input {
		width: 100%;
	}
}

.rounded_6 {
	border-radius: 6px;
}

.rounded_10 {
	border-radius: 10px;
}

.outlineRounded {
	width: 240px;
	padding: 8px;
	border-radius: 8px;
	outline: 1px solid var(--primary-color);

	&:focus {
		box-shadow: -1px 1px 8px var(--primary-color);
	}
}

.outlineDashed {
	outline: 1px dashed var(--secondary-bg-color);
}

.poured {
	height: inherit;
	padding: 6px 6px 6px 10px;
	background-color: var(--card-secondary);
	outline: 1px solid var(--card-secondary);

	&:focus {
		outline: 1px solid var(--card-secondary);
	}
}
