.label {
	min-width: fit-content;
	text-align: center;
	white-space: nowrap;

	&.outlined,
	&.profileInput {
		padding: 4px 8px;
		border: 1px solid var(--primary-color);
		border-radius: 6px;
	}

	&.stretchBgInverted {
		padding: 0 8px;
		border-radius: 8px;
	}
}

.listBox {
	position: relative;
	width: fit-content;
}

.btn {
	&.outlined {
		padding: 4px 8px;
	}

	&.stretchBgInverted {
		padding: 0 8px;
	}
}

.btnReadonly {
	padding: 4px 4px 4px 10px;
	text-align: left;
}

.trigger {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
}

.options {
	position: absolute;
	z-index: 200;
	width: 100%;
	min-width: max-content;
	color: var(--listbox-color);
	user-select: none;
	border-radius: 8px;
}

.optionsBottomLeft {
	top: 120%;
	right: 0;
}

.optionsBottomRight {
	top: 120%;
	left: 0;
}

.optionsTopLeft {
	right: 0;
	bottom: 120%;
}

.optionsTopRight {
	bottom: 120%;
	left: 0;
}

.option {
	padding: 4px 28px;
	background-color: var(--bg-color);
	border: 1px solid var(--listbox-border);

	&:first-child {
		border-radius: 8px 8px 0 0;
	}

	&:last-child {
		border-radius: 0 0 8px 8px;
	}

	&:only-child {
		border-radius: 8px;
	}
}

.optionWidthNormal {
	width: 100%;
}

.optionWidthMax {
	width: max-content;
	min-width: 100%;
}

.selected {
	padding-left: 4px;
	background-color: var(--bg-color);

	&::before {
		margin-right: 2px;
		content: '👉';
	}
}

.active {
	color: var(--bg-color);
	background-color: var(--primary-color);

	&.profileInput {
		background-color: var(--button-bg-inverted);
	}
}

.disabled {
	opacity: 0.5;
}

/* @ratio */

.ratio_50_50 {
	& .label {
		width: 50%;
	}

	& .listBox {
		width: 50%;
	}
}

.ratio_40_60 {
	& .label {
		width: 40%;
	}

	& .listBox {
		width: 60%;
	}
}

/* @animation */

.transition150 {
	transition: opacity 0.15s ease-in;
}

.opacity100 {
	opacity: 1;
}

.opacity0 {
	opacity: 0;
}
