.container {
	padding: 6px 10px;
	background-color: var(--card-secondary);
	border-radius: 12px;
}

.icon {
	display: block;
	fill: var(--auxiliary-primary-color);
	transition: fill 0.4s;
}

.active {
	cursor: default;
	background-color: var(--auxiliary-secondary-color);
	opacity: 0.85;

	&:hover {
		opacity: 1;
	}

	& .icon {
		fill: var(--bg-color);
	}
}

.btn {
	padding: 6px;
	border-radius: 12px;
	transition: background-color 0.2s;

	&:hover:not(.activeBtn) {
		background-color: var(--auxiliary-secondary-color);

		& .icon {
			fill: var(--bg-color);
		}
	}
}
