.btn {
	padding: 4px;
	transition: box-shadow 0.4s;
	
	&:hover:not(.active) {
		box-shadow: inset 0 0 6px 1px var(--card-light), 0 0 18px 1px var(--card-dark);
		opacity: 0.8;
	}
}

.icon {
	display: block;
	fill: var(--primary-color);
}

.active {
	cursor: default;
	fill: var(--auxiliary-primary-color);
}
