.skeleton {
	position: relative;
	width: 100%;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 0 2px 0 var(--skeleton-shadow);

	&::before {
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
	}
}

.primary::before {
	background: linear-gradient(
		to right,
		transparent 0%,
		var(--skeleton-primary-color) 50%,
		transparent 100%
	);
}

.filled::before {
	background: linear-gradient(
		to right,
		transparent 0%,
		var(--skeleton-filled-color) 50%,
		transparent 100%
	);
}

.small::before {
	left: -100px;
	animation: load-small 1s cubic-bezier(0.6, 0.2, 0.2, 0.8) infinite;
}

.big::before {
	left: -400px;
	animation: load-big 1s cubic-bezier(0.6, 0.2, 0.2, 0.8) infinite;
}

@keyframes load-small {
	from {
		left: -100px;
	}

	to {
		left: 120%;
	}
}

@keyframes load-big {
	from {
		left: -400px;
	}

	to {
		left: 100%;
	}
}
