.drawer {
	position: fixed;
	inset: 0;
	z-index: -1;
	display: flex;
	align-items: end;
	pointer-events: none;
	transition: z-index 0.3s;
}

.overlay {
	opacity: 0;
	transition: opacity 0.3s;
}

.content {
	position: relative;
	bottom: 0;
	z-index: 100;
	width: 100%;
	min-height: 100px;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--bg-color);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	transition: transform 0.3s;
	transform: translateY(100%);
}

.content::before {
	position: relative;
	bottom: 40px;
	display: block;
	width: 100px;
	height: 10px;
	margin: auto;
	content: '';
	background-color: var(--bg-color);
	border-radius: 12px;
}

.opened {
	z-index: var(--modal-z-index);
	pointer-events: auto;

	.overlay {
		opacity: 1;
	}

	.content {
		transform: translateY(0%);
	}
}
