.app_dark_theme {
	/* background color */
	--bg-color: #364746;
	--inverted-bg-color: #c5e3f2;

	/* color */
	--primary-color: #3cffd9;
	--secondary-color: #9eeaf0;

	/* color: inverted */
	--inverted-primary-color: #154580;
	--inverted-secondary-color: #010626;

	/* skeleton */
	--skeleton-color: #5a9f9c;
	--skeleton-shadow: #3a4f4e;

	/* code */
	--code-bg: #4b605f;

	/* articleCard */
	--card-bg: #415d5b;
}
