.app_dark_theme {
	/* background color */
	--bg-color: #0a0f0e;
	--secondary-bg-color: #181d1d;

	/* color */
	--primary-color: #37f1cd;
	--auxiliary-primary-color: #29ba9d;
	--secondary-color: #ebe6cd;
	--auxiliary-secondary-color: #0dc29e;

	/* color: inverted */
	--inverted-primary-color: #ebe6cd;
	--inverted-secondary-color: #d8cb87;

	/* skeleton */
	--skeleton-primary-color: #3c3b2e;
	--skeleton-filled-color: #191b17;
	--skeleton-shadow: #34332a;

	/* code */
	--code-bg: #1f2727;

	/* card */
	--card-primary: #181d1d;
	--card-secondary: #152827;

	/* tabs */
	--tabs-primary-active: #2d3b3b;
	--tabs-secondary-active: #34dab9;

	/* --tabs-secondary-active: #1be7bf; */

	/* list box */
	--listbox-bg: #0a0f0e;
	--listbox-color: #ebe6cd;
	--listbox-selected: #ebe6cd;
	--listbox-selected-color: #0a0f0e;
}
