.app_dark_theme {
	/* background color */
	--bg-color: #0a0f0e;
	--secondary-bg-color: #181d1d;

	/* color */
	--primary-color: #37f1cd;
	--auxiliary-primary-color: #29ba9d;
	--secondary-color: #ebe6cd;

	/* color: inverted */
	--inverted-primary-color: #ebe6cd;
	--inverted-secondary-color: #d8cb87;

	/* skeleton */
	--skeleton-color: #5a9f9c;
	--skeleton-shadow: #3a4f4e;

	/* code */
	--code-bg: #1f2727;

	/* card */
	--card-light: #181d1d;
	--card-dark: #142221;

	/* list box */
	--listbox-bg: #0a0f0e;
	--listbox-color: #ebe6cd;
	--listbox-selected: #ebe6cd;
	--listbox-selected-color: #0a0f0e;
}
