.app_light_theme {
	/* background color */
	--bg-color: #c5e3f2;
	--secondary-bg-color: #061514;

	/* color */
	--primary-color: #0a0d20;
	--auxiliary-primary-color: #48758d;
	--secondary-color: #1b0977;
	--auxiliary-secondary-color: #639db1;

	/* color: inverted */
	--inverted-primary-color: #deecf4;
	--inverted-secondary-color: #2c7bdc;

	/* button */
	--button-bg-inverted: #234666;
	--button-bg-inverted-auxiliary: #1d5385;

	/* skeleton */
	--skeleton-primary-color: #bcdff3;
	--skeleton-filled-color: #b5d8eb;
	--skeleton-shadow: #639db1;

	/* code */
	--code-bg: #afd1e4;

	/* card */
	--card-primary: #afd1e4;
	--card-secondary: #99c8e0;

	/* tabs */
	--tabs-primary-active: #a1d0eb;
	--tabs-secondary-active: #296b8d;

	/* list box */
	--listbox-border: #9dc5d9;
	--listbox-color: #0a0d20;
	--listbox-selected: #9dc5d9;
	--listbox-selected-color: #0a0d20;
}
