.app.light {
	/* background color */
	--bg-color: #c5e3f2;
	--inverted-bg-color: #364746;

	/* color */
	--primary-color: #154580;
	--secondary-color: #010626;

	/* color: inverted */
	--inverted-primary-color: #a1e1e9;
	--inverted-secondary-color: #8792da;
}
