.navbar {
	height: var(--navbar-height);
	padding: 20px;

	background-color: var(--secondary-bg-color);
}

.appName {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	white-space: nowrap;
}

.dropdownMenu {
	width: 160px;
}
