.profileCard {
	width: 100%;
	min-width: 470px;
}

.loading,
.error {
	height: 300px;
	border: 1px solid var(--bg-color);
}

.editing {
	border: 1px solid var(--inverted-secondary-color);
}

.avatarWrapper {
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid var(--primary-color);
}

.content {
	width: 420px;
	margin: 0 auto;
}

.inputWrapper {
	gap: 10px;
	width: 100%;
}
