.outline {
	border: 1px solid var(--primary-color);
}

.small {
	padding: 2px;
	border-radius: 6px;
}

.medium {
	padding: 8px;
	border-radius: 10px;
}

.large {
	padding: 15px;
	border-radius: 12px;
}

.extraLarge {
	padding: 20px;
	border-radius: 12px;
}

.primary {
	background-color: var(--card-primary);
}

.secondary {
	background-color: var(--card-secondary);
}

.bgColor {
	background-color: var(--bg-color);
}
